<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 设置包扫描，扫描控制层包 -->
	<context:component-scan base-package="cn.edu.uzz.controller" />

	<!--
	视图解析器 ViewResolver，设置浏览器拦截的请求
	localhost:8080/admin/login.jsp

	通过视图解析器奖函数返回 的字符串解析为连接跳转
	 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/admin/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 文件上传插件的配置，注意，这里的id要固定，必须是multipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />


	<!-- 基于注解开发，设置注解驱动 -->
	<mvc:annotation-driven />

</beans>
